<%if @url%>
<% @url.errors.each do |attribute, message| %>
<p>Error: URL <%=message%> </p>
<% end %>
<% end %>
<form action='/url/create' method='post'>
  <label><input type='text' name='url[original]' placeholder="Enter URL"></label>
  <input class='btn' type='submit' value='Create Short URL'>
</form>